<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>Marco Antunes</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Aulas</a>
                <a href="/">Teachers</a>
                <a href="/">Students</a>
            </div>            
        </header>

        {% block content %}
        
        {% endblock %}

        <div id="links-footer" class="links">
            {% for links in about.link %}
                <a href="{{ links.url }}" target="_blank">{{ links.name  }}</a>
            {% endfor %}
        </div>  

    </body>    

</html> 